.verde{
    background-color: #006100;
}

.negro{
    background-color: #000;
}

.franjas{
    width: 100%;
    height: 70px;
}


.franjaGrande{
    width: 100%;
    height: 100px;
}

.amarillo{
    background-color: #eeff00;
}


.rojo{
    background-color: #f00;
}


.margin-top{
    margin-top: 20px;
}