table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: black;
    color: whitesmoke;
}

.th-font-size-grande{
      font-size: 24px;
}

.no-aplica{
    background-color: darkkhaki;
}

